.task-card {
    display: inline-block;
    padding: 0;
    width: 200px;
    height: 240px;
    border: 4px solid rgb(206, 205, 205);
    margin: 1rem;
    border-radius: 10%;
    background-color: rgba(141, 250, 141, 0.95)
}